In [1]:
import pprint
import pandas as pd
# !pip install pyodbc
import pyodbc
import psycopg2
import os
import glob
from sqlalchemy import create_engine

In [ ]:
conn_str = (
    "DRIVER={PostgreSQL Unicode};"
    "DATABASE=projet_predict_delays;"
    "UID=postgres;"
    "PWD=feefeeKH90;"
    "SERVER=localhost;"
    "PORT=5432;"
    )

conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

In [9]:
cursor.execute('''
		CREATE TABLE products (
			product_id int primary key,
			
			price int
			)
               ''')
conn.commit()

In [32]:
con = psycopg2.connect("host=localhost dbname=projet_predict_delays user=postgres password=feefeeKH90 port=5432")
cursor = conn.cursor()

In [35]:
with open('clean_2019_1.csv', 'r') as f:
    next(f)
    cursor.copy_from(f, "reporting_delays", sep=',')

conn.commit()

NameError: name 'cursor' is not defined

In [31]:
# cursor.close()
con.close()

In [26]:
df = pd.read_csv("clean_2019_1.csv", sep=",")

In [27]:
df.head()

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,ArrTimeBlk,Cancelled,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,DivAirportLandings
0,0,2019,1,1,4,5,2019-01-04,OO,20304,OO,...,1500-1559,0.0,0.0,70.0,51.0,37.0,1.0,190.0,1,0
1,1,2019,1,1,4,5,2019-01-04,OO,20304,OO,...,1100-1159,0.0,0.0,103.0,109.0,76.0,1.0,438.0,2,0
2,2,2019,1,1,4,5,2019-01-04,OO,20304,OO,...,0800-0859,0.0,0.0,132.0,121.0,88.0,1.0,513.0,3,0
3,3,2019,1,1,4,5,2019-01-04,OO,20304,OO,...,1400-1459,0.0,0.0,118.0,110.0,80.0,1.0,576.0,3,0
4,4,2019,1,1,4,5,2019-01-04,OO,20304,OO,...,1000-1059,0.0,0.0,184.0,163.0,127.0,1.0,896.0,4,0

In [ ]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [28]:
columns = df.columns

In [29]:
columns

Index(['Unnamed: 0', 'Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek',
       'FlightDate', 'Reporting_Airline', 'DOT_ID_Reporting_Airline',
       'IATA_CODE_Reporting_Airline', 'Tail_Number',
       'Flight_Number_Reporting_Airline', 'OriginAirportID',
       'OriginAirportSeqID', 'OriginCityMarketID', 'Origin', 'OriginCityName',
       'OriginState', 'OriginStateFips', 'OriginStateName', 'OriginWac',
       'DestAirportID', 'DestAirportSeqID', 'DestCityMarketID', 'Dest',
       'DestCityName', 'DestState', 'DestStateFips', 'DestStateName',
       'DestWac', 'CRSDepTime', 'DepTime', 'DepDelay', 'DepDelayMinutes',
       'DepDel15', 'DepartureDelayGroups', 'DepTimeBlk', 'TaxiOut',
       'WheelsOff', 'WheelsOn', 'TaxiIn', 'CRSArrTime', 'ArrTime', 'ArrDelay',
       'ArrDelayMinutes', 'ArrDel15', 'ArrivalDelayGroups', 'ArrTimeBlk',
       'Cancelled', 'Diverted', 'CRSElapsedTime', 'ActualElapsedTime',
       'AirTime', 'Flights', 'Distance', 'DistanceGroup',
       'DivAirportLandings'],
      dtype='object')

In [ ]:
# Ã  scripter pour tous les fichiers clean :
engine = create_engine('postgresql://postgres:feefeeKH90@localhost:5432/projet_predict_delays')
df.to_sql('reporting_delays', engine)

In [4]:
# use glob to get all the csv files 
# in the folder
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.csv"))

In [5]:
path

'c:\\Users\\thiba\\Documents\\hetic\\Data science appro\\projet_predict_delays'

In [6]:
csv_files

['c:\\Users\\thiba\\Documents\\hetic\\Data science appro\\projet_predict_delays\\clean_2019_1.csv',
 'c:\\Users\\thiba\\Documents\\hetic\\Data science appro\\projet_predict_delays\\clean_2019_2.csv',
 'c:\\Users\\thiba\\Documents\\hetic\\Data science appro\\projet_predict_delays\\clean_2019_3.csv',
 'c:\\Users\\thiba\\Documents\\hetic\\Data science appro\\projet_predict_delays\\clean_2019_4.csv']

In [33]:
# con = psycopg2.connect(database="xxxx", user="xxxx", password="xxxx", host="xxxx")

for file_name in csv_files:
    with open(file_name, 'r') as file_in:
        # file_in.drop('Unnamed: 0', axis=1, inplace=True)
        next(file_in)
        with con.cursor() as cur:
            cur.copy_from(file_in, "reporting_delays", columns=tuple(columns), sep=",")
        con.commit()

con.close()

UndefinedColumn: ERREUR:  la colonne Â« Unnamed: 0 Â» de la relation Â« reporting_delays Â» n'existe pas

In [ ]:
# loop over the list of csv files
for file in csv_files:

    # read the csv file
    # df = pd.read_csv(file)

    # drops useless columns
    # df.drop('Unnamed: 0', axis=1, inplace=True)
    # df.reset_index(drop=True)


    with open(file, 'r') as f:
        # df.drop('Unnamed: 0', axis=1, inplace=True)
        next(f)
        cursor.copy_from(f, "reporting_delays", sep=',')

    conn.commit()

    # engine = create_engine('postgresql://postgres:whitebeard@localhost:5432/projet_predict_delays')
    # df.to_sql('reporting_delays', engine)