In [2]:
import pprint
import pandas as pd
# !pip install pyodbc
import pyodbc
import psycopg2
import os
import glob
from sqlalchemy import create_engine

In [6]:
conn_str = (
    "DRIVER={PostgreSQL Unicode};"
    "DATABASE=test03;"
    "UID=postgres;"
    "PWD=whitebeard;"
    "SERVER=localhost;"
    "PORT=5432;"
    )

conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

In [9]:
cursor.execute('''
		CREATE TABLE products (
			product_id int primary key,
			
			price int
			)
               ''')
conn.commit()

In [34]:
conn = psycopg2.connect("host=localhost dbname=test03 user=postgres password=whitebeard port=5432")
cursor = conn.cursor()

In [ ]:
with open('clean_2019_1.csv', 'r') as f:
    next(f)
    cursor.copy_from(f, "reporting", sep=',')

conn.commit()

In [ ]:
cursor.close()
conn.close()

In [36]:
df = pd.read_csv("cleaned.csv", sep=",")

In [39]:
df.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,Tail_Number,...,ArrTimeBlk,Cancelled,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,DivAirportLandings
0,2019,1,1,4,5,2019-01-04,OO,20304,OO,N945SW,...,1500-1559,0.0,0.0,70.0,51.0,37.0,1.0,190.0,1,0
1,2019,1,1,4,5,2019-01-04,OO,20304,OO,N932SW,...,1100-1159,0.0,0.0,103.0,109.0,76.0,1.0,438.0,2,0
2,2019,1,1,4,5,2019-01-04,OO,20304,OO,N932SW,...,0800-0859,0.0,0.0,132.0,121.0,88.0,1.0,513.0,3,0
3,2019,1,1,4,5,2019-01-04,OO,20304,OO,N916SW,...,1400-1459,0.0,0.0,118.0,110.0,80.0,1.0,576.0,3,0
4,2019,1,1,4,5,2019-01-04,OO,20304,OO,N107SY,...,1000-1059,0.0,0.0,184.0,163.0,127.0,1.0,896.0,4,0

In [38]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [40]:
# à scripter pour tous les fichiers clean :
engine = create_engine('postgresql://postgres:whitebeard@localhost:5432/test03')
df.to_sql('reporting', engine)

963

In [4]:
# use glob to get all the csv files 
# in the folder
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.csv"))

In [15]:
path

'd:\\Users\\Thibaut\\Documents\\Hetic cours\\Data science approfondissement\\zip_files'

In [ ]:
csv_files

In [ ]:
conn = psycopg2.connect("host=localhost dbname=test03 user=postgres password=whitebeard port=5432")
cursor = conn.cursor()

In [6]:

# loop over the list of csv files
for file in csv_files:

    with open(file, 'r') as f:
        next(f)
        cursor.copy_from(f, "reporting", sep=',')

    conn.commit()
    
    # read the csv file
    df = pd.read_csv(f)
    # drops useless columns
    df.drop('Unnamed: 0', axis=1, inplace=True)
    df.reset_index(drop=True)
    
    engine = create_engine('postgresql://postgres:whitebeard@localhost:5432/projet_predict_delays')
    df.to_sql('reporting_delays', engine)

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>